*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #EAF4F4;
}

/* Estilos para a barra de navegação */
header{
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.menu a{

    color: #ABBAC5;

    text-decoration: none;

    font-size: 18px;

}

.menu a:hover{

    color: gray;
}



.rodape{
    background-color: #086788;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* Tabelas */

table {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    height: auto;
    border-collapse: collapse;
    margin: 25px auto;
}

th {
    background-color: green;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color:#F5F7FA;
}


.modalidades {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font: 400 16px/1.5 'Roboto', sans-serif;
}
 .container{
      display:flex;
      flex-wrap:wrap;
      gap: 20px;
      justify-content:center;
    }

    /* CARD */
    .card{
      background-color: #F5F7FA;
      width:300px;
      margin: 20px;
      padding:20px;
      border-radius:10px;
      box-shadow:0 4px 10px rgba(0,0,0,0.1);
      border-top: 5px solid rgb(2, 173, 2);
    }

    .card:hover{
      box-shadow:0 6px 15px rgba(0,0,0,0.15);
    }
    

    .card h2{
      color:green;
      margin-bottom:10px;
    }

    .card p{
      color:#555;
      line-height:1.5;
      font: roboto, sans-serif;
    }

