body{
    margin: 0;
    background-color: #F5F5F5
}

header{
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.menu a{

    color: #ABBAC5;

    text-decoration: none;

    font-size: 18px;

}

.menu a:hover{

    color: gray;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.equipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.caixa{
    width: 200px;
    height: 150px;
    background-color: #4CAF50;
    border-radius: 10px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.caixac{
    width: 500px;
    height: 80px;
    background-color: #1e5e96;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.caixa_pequena{
    width: 50px;
    height: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.caixa img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.rodape{
    background-color: #086788;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}